/* round corners on card, set margins to space cards apart */
.card {
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

/* change background color of initial card header background, round corners */
.card-header:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: black;
    color: white;
}

/* change color of jumbotron background */
.jumbotron {
    background-color: rgb(87, 85, 85);
}

/* change color of card body background, round the corners */
.card-body {
    background-color: rgb(87, 85, 85);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* setting up background image to cover entire page */
body {
    background-image: url("../images/backImage.jpg");
    background-attachment: fixed;
  }

/* reducing amount of space jumbotron takes up */
@media (min-width: 576px) {
.jumbotron {
    padding: 2rem 1rem;
}
}